<header>
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Dashboard</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Login</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled">Logout</a>
    <h1><span class="badge bg-secondary">The Tech Blog</span></h1>
  </nav>
</header>