<form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Post Name</label>
    <input class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label" >Write your post here</label>
    <textarea class="form-control" id="blogpost" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="postSubmit">Submit</button>
</form>